<!DOCTYPE html>
<html>
  <head>
    <title>Crm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <footer class="footer">
        <ul class="has-text-centered">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Alphabetized', '/customers/alphabetized' %></li>
          <li><%= link_to 'Missing Email', '/customers/missing_email' %></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
